.subscribe-button {
  background-color: rgb(204, 0, 0);
  color: white; /* ändrar texten till vit*/
  border: none; /*tar bort kanterna runt knappen*/
  border-radius: 2px; /* gör hörnen på kanterna runda */
  cursor: pointer; /*gör att muspekaren ändrar skepnad till en hand*/
  margin-right: 8px;
  transition: opacity 0.15s;
  padding-top: 10px; /*Lägger till mellanrum innanför knappen,
  mellan texten och knapp-ramen */
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
  font-size: 14px;
  vertical-align: top;
}

.subscribe-button:hover { /* Hover menas med att när vi drar "svävar" över musen på 
  subscribe knappen så kommer dessa css attributer att appliceras.
  */
 opacity: 0.8; /*Opacity används för att "förblekna" eller
 (fade på engelska) ett element. Värdet ligger mellan
 0 och 1, där 1 är helt oförändrat dvs ingen fade alls sker.
  */

}

.subscribe-button:active { /*Denna pseudo-classen säger att när vi klickar
  på knappen då vill vi att stylingen blir: i detta fallet att bakgrunds-
  färgen blir blå. 
  background-color: blue; */
  opacity: 0.5;
}

.join-button {
  background-color: white;
  border: 1px solid #065fd4;
  color: rgb(41, 118, 211);
  cursor: pointer;
  font-family: Arial;
  font-size: 14px;
  transition: background-color 0.15s,
  color 0.15s; /*det första värdet vi ville
  fade:a är ju bakgrunds färgen då den inverterades på just denna knappen
  och då är det inte opacity värdet vi skriver in så som vi gjorde
  på subscribe knappen. */ 
  padding-top: 9px; /*Lägger till mellanrum innanför knappen,
  mellan texten och knapp-ramen */
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 9px;
  

}
.join-button:hover {
  background-color: rgb(41, 118, 211);
  color: white;
  
}

.join-button:active {
  opacity: 0.7;
}



.tweet-button {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  height: 36px;
  width: 74px;
  border-radius: 18px;
  font-weight: bold; /*Denna gör att texten blir tjockare*/
  font-size: 15px; /*justerar storleken på texten*/
  cursor: pointer;
  margin-left:8px ;
  transition: box-shadow 0.2s;
  padding-top: 10px;
  padding-bottom: 10px;
 padding-left: 16px;
 padding-right: 16px;

}

.tweet-button:hover {
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
