.view {
  width: 200px;
  height: 200px;
  object-fit: cover;  
}

  username {
    font-weight: bold; /* om vi skriver "font-weight: bold; så kommer alla p element att få fet stil. För att undvika detta
    så måste du tilldela elementet en klass för att kunna separera den från de andra elementen när du 
    använder css. Som i vårt fall, vi vill inte applicera fet text på alla våra <p> element, så därför 
    gör vi en klass på de <p> elementen vi vill påverka och på så sätt berörs inte andra p element som inte
    ingår i den klassen. Vi bildade en class på vårt användarnamn och kallade den för username. När vi sedan
    skriver ".username {} så kommer css bara appliceras på alla (INTE BARA <p>) element som ingår i classen "username"*/


  }